*xcuserdata*
.DS_Store
greatwork.xcworkspace/xcshareddata/greatwork.xccheckout
greatwork.xcworkspace/xcshareddata/greatwork.xcscmblueprint
build
report.xml
vendor/bundle
.bundle
test_output
node_modules

fastlane/report.xml
fastlane/screenshots/screenshots.html
fastlane/screenshots/[a-z]*/*.png
fastlane/output
fastlane/README.md
*.cer
*.mobileprovision

.env
preview_screenshots
